Redirect 301 /posts/view/installing_phpunit_manually_for_cakephp_2_0 /installing-phpunit-manually-for-cakephp-2-0
Redirect 301 /posts/view/using_markdown_in_cakephp /using-markdown-in-cakephp
Redirect 301 /posts/tagged/compass /tags.html#compass-ref
Redirect 301 /posts/tagged/config /tags.html#config-ref
Redirect 301 /posts/view/phpunit_installer_updated_to_3_6_4 /phpunit-installer-updated-to-3-6-4
Redirect 301 /posts/tagged/markdown /tags.html#markdown-ref
Redirect 301 /posts/view/use_gzip_with_php/year:2011/month:10/day:14 /use-gzip-with-php
Redirect 301 /posts/view/using_markdown_in_cakephp/year:2011/month:07/day:10 /using-markdown-in-cakephp
Redirect 301 /posts/view/setting_up_cakephp_with_mamp_pro_on_mac_osx/year:2011/month:04/day:11 /setting-up-cakephp-with-mamp-pro-on-mac-osx
Redirect 301 /archive/3 /archive.html
Redirect 301 /posts/view/using_sass_in_your_next_cakephp_project /using-sass-in-your-next-cakephp-project
Redirect 301 /setting-up-cakephp-with-mamp-pro-on-mac-osx/year:2011/month:04/%C3%AF%C2%BB%C2%BFhttp:/www.formspring.me/Pixodo.co.uk /setting-up-cakephp-with-mamp-pro-on-mac-osx
Redirect 301 /contact /about.html
Redirect 301 /posts/view/using_sass_in_your_next_cakephp_project/ /using-sass-in-your-next-cakephp-project
Redirect 301 /posts/tagged/cakephp /tags.html#cakephp-ref
Redirect 301 /posts/view/installing-phpunit-manually-for-cakephp-2-0 /installing-phpunit-manually-for-cakephp-2-0
Redirect 301 /posts/view/using_less_in_cakephp /using-less-in-cakephp
Redirect 301 /posts/categories/ /categories.html
Redirect 301 /posts/view/use_gzip_with_php/ /use-gzip-with-php
Redirect 301 /how-to-remove-a-submodule-from-your-git /how-to-remove-a-submodule-from-your-git-repository
Redirect 301 /posts/tagged/sass /tags.html#sass-ref
Redirect 301 /posts/view/setting-up-cakephp-with-mamp-pro-on-mac-osx /setting-up-cakephp-with-mamp-pro-on-mac-osx
Redirect 301 /posts/view/using_less_in_cakephp/ /using-less-in-cakephp
Redirect 301 /posts/view/how_to_handle_multiple_domains_with_cakephp/year:2011/month:05/day:22 /how-to-handle-multiple-domains-with-cakephp
Redirect 301 /posts/categories/cakephp/page:2 /categories.html#CakePHP-ref
Redirect 301 /posts/view/loading-external-files-in-php-the-better-way/ /loading-external-files-in-php-the-better-way
Redirect 301 /posts/view/use_gzip_with_php/year:2011/month:10/aDxjOcTDqN /use-gzip-with-php
Redirect 301 /posts/view/setting-up-cakephp-with-mamp-pro-on-mac-osx/%C3%AF%C2%BB%C2%BFhttp:/www.formspring.me/goodwork%20eed /setting-up-cakephp-with-mamp-pro-on-mac-osx
Redirect 301 /posts/view/loading_external_files_in_php_the_better_way /loading-external-files-in-php-the-better-way
Redirect 301 /posts/view/setting-up-cakephp-with-mamp-pro-on-mac-osx/%C3%AF%C2%BB%C2%BFhttp:/www.formspring.me/Pixodo.co.uk /setting-up-cakephp-with-mamp-pro-on-mac-osx