// Choose one of these to be your mainTheme color
$green: hsl(151, 65%, 60%);
$blue: hsl(216, 65%, 60%);
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);

$offBlack: hsl(10, 1%, 22%);
$grey: lighten($offBlack, 50);

$codeFont: Monaco, Consolas, monospace;
$postFont: 'Ubuntu', Georgia, serif;
$headerFont: 'Ubuntu', Georgia, serif;

$mainTheme:#eb4c42;
$baseTextColor: $offBlack;
$lightTextColor: $grey;

@mixin breakpoint($point) {
  @if $point == big-phone {
    @media (max-width: 1020px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 630px)  { @content; }
  }
}

// Clearfix
.group {
  @include clearfix;
}

body {
  margin: 0;
  color: $baseTextColor;
  background: #fbfbfb url(/images/txtr_white.jpg) fixed;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $headerFont;

  font-size: 19px;

  @include breakpoint(big-phone) {
    font-size: 16px;
  }

  @include breakpoint(small-phone) {
    font-size: 12px;
  }
}

.container {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint(big-phone) {
    position: relative;
    margin: 10px auto;
  }
  @include breakpoint(small-phone) {
    width: auto;
    padding: 0 20px;
  }
}

.content {
  position: relative;
  margin: 30px auto 0;
  margin: 0 auto;
  padding: 0 0 80px 0;
  width: 80%;
  max-width: 640px;

  a {
    color: $baseTextColor;
    text-decoration: none;
    border-bottom: 1px solid #eb4c42;
    @include transition(color 0.2s);
    &:hover {
      color: $mainTheme;
    }
  }

  .pagination a, h2 a, h3 a, h4 a, .share-icons a {
    border-bottom: none;
  }

  @include breakpoint(big-phone) {
    margin: 65px auto 25px;
    width: 86%;
  }

  @include breakpoint(small-phone) {
    margin: 75px auto 15px;
    width: 100%;
    line-height: 21px;
  }
}

.pagination {
  width: 100%;

  a {
    font-size: 1.5em;
    font-weight: bold;
    padding: .7em 0;
    text-decoration: none;
  }
}

.older {
  float: left;
}

.newer {
  float: right;
}
