// Choose one of these to be your mainTheme color
$green: hsl(151, 65%, 60%);
$blue: hsl(216, 65%, 60%);
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);

$offBlack: hsl(10, 1%, 22%);
$grey: lighten($offBlack, 50);

$codeFont: Monaco, Consolas, monospace;
$postFont: 'Merriweather', Georgia, serif;
$headerFont: 'Source Sans Pro', Georgia, serif;

$mainTheme:#eb4c42;
$baseTextColor: $offBlack;
$lightTextColor: $grey;

@mixin breakpoint($point) {
  @if $point == big-phone {
    @media (max-width: 1020px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 720px)  { @content; }
  }
}

// Clearfix
.group {
  @include clearfix;
}

body {
  margin: 0;
  color: $baseTextColor;
  // background: #fbfbfb url(/images/txtr_white.jpg) fixed;
  background: white;
  // -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $postFont;
  font-size: 19px;

  // font-family: Ubuntu;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  @include breakpoint(big-phone) {
    // font-size: 20px;
  }

  @include breakpoint(small-phone) {
    // font-size: 17px;
  }
}

.intro {
  font-size: 28px;
}

.fb_iframe_widget {
  display: inline !important;
}

.header:first-child {
  height: 320px;
  // background-color: #eb6355;
  // border-bottom: 3px solid #ececec;
  margin-bottom: 45px;
  @include breakpoint(small-phone) {
    height: 200px;
  }
  .bg {
    background-image: url(/images/hdr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    background-position: center top;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -ms-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    @include breakpoint(small-phone) {
      height: 200px;
    }
  }
  .logo {
    padding: 0;
    // margin-top: 25px;
    text-align: center;
    top: 100px;
    position: relative;
    // float: left;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    @include breakpoint(small-phone) {
      top: 20px;
      img {
        width: 250px;
      }
    }
  }
  p.tagline {
    color: #FFF;
    position: relative;
    top: 100px;
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
    // text-shadow: 0px 0px 3px #333;
  }
  .nav {
    top: 30px;
    right: 0px;
    position: absolute;
    font-weight: 600;
    font-size: 13px;
    @include breakpoint(small-phone) {
      position: relative;
      text-align: center;
      float: none;
      top: 60px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        padding: 6px 12px;
        color: #FFF;
        text-decoration: none;
        background-color: rgba(255,255,255,0.1);
        margin: 0 10px;
        border-radius: 6px;
        border: 1px solid #FFF;
        &:hover {
          color: #333;
          background-color: rgba(255,255,255,0.9);
          -webkit-transition: color 0.3s ease-in-out;
          -moz-transition: color 0.3s ease-in-out;
          -ms-transition: color 0.3s ease-in-out;
          -o-transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  @include breakpoint(big-phone) {
  }
  @include breakpoint(small-phone) {
    width: auto;
    padding: 0 20px;
  }
}

.content {
  position: relative;
  margin: 30px auto 0;
  margin: 0 auto;
  padding: 0 0 80px 0;
  p {
    line-height: 1.667em;
  }
  a {
    // transition: all 0.666s ease-in-out;
    font-weight: bold;
    color: #eb6355;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    &:hover {
      color: #333333;
    }
  }

  .list {
    p {
      margin: 5px 0 10px 0;
    }
  }

  .pagination a, h2 a, h3 a, h4 a, .share-icons a {
    border-bottom: none;
  }

  @include breakpoint(big-phone) {
    margin: 65px auto 25px;
    // width: 86%;
  }

  @include breakpoint(small-phone) {
    margin: 0 auto 15px;
    width: 100%;
    line-height: 21px;
  }
}

a {
  h1 {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    &:hover {
      color: #eb6355;
    }
  }
}

footer {
  text-align: center;
  padding: 15px 0;
  font-size: 11px;
}

.pagination {
  width: 100%;
  text-align: center;
  a {
    color: #2c313b;
    padding: .7em 0;
    text-decoration: none;
  }
}

.older {
  float: left;
}

.newer {
  float: right;
}
