<!DOCTYPE html>
<!--[if lt IE 7]> <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#
  blog: http://ogp.me/ns/blog#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Mindthecode</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% else %}<meta name="description" content="Rambling about code and all things web." />{% endif %}
  {% if page.categories %}<meta name="keywords" content="{{page.categories | join: ','}}" />{% else %}<meta name="keywords" content="HTML,CSS,JavaScript,SASS,LESS,PHP,CakePHP,Bash,Ruby,Rails,RoR" />{% endif %}
  {% if page.date %}<meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />{% endif %}
  <meta property="og:image" content="http://mindthecode.com/{{ ASSET_PATH }}/img/stefvdham.png" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Mindthecode" />
  <meta property="og:url" content="http://mindthecode.com{%if page.url != '/index.html' %}{{ page.url | canonical }}{% endif %}" />
  <meta property="og:site_name" content="Mindthecode | by Stef van den Ham" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}Rambling about code and all things web.{% endif %}" />
  <meta property="fb:app_id" content="116332715192025">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Mindthecode.com" href="/rss.xml" />
  <link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
  <link href='{{ ASSET_PATH }}/css/font.css' rel="stylesheet" media="all">
  <link href='{{ ASSET_PATH }}/css/base.css' rel="stylesheet" media="all">
  <link href='{{ ASSET_PATH }}/css/main.css' rel="stylesheet" media="all">
  {%if page.url == '/index.html' %}<link rel="canonical" href="http://mindthecode.com/" />{% else %}<link rel="canonical" href="http://mindthecode.com{{ page.url | canonical }}" />{% endif %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ ASSET_PATH }}/js/main.js"></script>
  <!--[if lt IE 9]>
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
  </script>
  <![endif]-->
</head>
<body>
  <!-- <canvas class='blur' id="blur_1"></canvas> -->
  <div class="wrapper">

    <header>
      <div class="logo"><a href="/">Mindthecode.</a></div>
      <nav role="navigation">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/categories.html">Categories</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>

<!--     <div class="prevnext" style="position: absolute; right: 10px; top: 200px;">
      <div class="next" style="">
        <a href=""><img src="https://d3levm2kxut31z.cloudfront.net/assets/protips/next-icon-a128f72e22fb80ff60c386a4fc209b36.png"></a>
      </div>
    </div> -->

    {{ content }}

    <footer>
      <br /><br />
      <ul class="socialable">
        <li><a href="https://twitter.com/stefvdham" class="twitter-follow-button" data-show-count="true">Follow @stefvdham</a></li>
        <li><div class="fb-like" data-href="http://mindthecode.com" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div></li>
        <li><iframe src="http://ghbtns.com/github-btn.html?user=hyra&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
        <li>
          <div class="g-plusone" data-size="medium"></div>
        </li>
      </ul>
      <br />
      <p>&copy; Mindthecode 2010-2013 | All Rights Reserved.<br />
        Powered by <a href="http://jekyllrb.com">Jekyll</a> and fondled with <a href="http://compass-style.org">Compass</a>.</p>
    </footer>
  </div>

  <div id="fb-root"></div>

  <div class="bg1" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1">
    <img src="/assets/themes/mtc/img/bgs/01_v2.jpg" alt="" title="" />
  </div>
  <div class="bg2" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -2">
    <img src="/assets/themes/mtc/img/bgs/01_v2.jpg" alt="" title="" />
  </div>

  <script type="text/javascript" src="{{ ASSET_PATH }}/js/social.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512f2ead5c4c34de"></script>
  <script src="{{ ASSET_PATH }}/js/scale.fix.js"></script>

  {% include JB/analytics %}

</body>
</html>